name: Kubernetes CI
on: 
  push:
    branches:
    - master
jobs:
  pyapp-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Code
        uses: actions/checkout@v4
      - name: Build Docker Image
        run: "docker build -t lehardocker/pyapp:${GITHUB_SHA::7} ."
      - name: Login to Docker Hub
        uses: docker/login-action@v4
        with:
          username: "${ secret.DOCKER_USERNAME }"
          password: "${ secret.DOCKER_PASSWORD }"
    

  
        




      
